<div class="col-sm-6 offset-sm-3" >
  <div class="card mb-3">
    <div class="card-header">
      Task
    </div>
    <div class="card-body">
      <h5 class="card-title"><%= @task.content %></h5>
    </div>
  </div>
    <p>Status---> <%= @task.status %></p>
    <%= link_to 'Edit', edit_task_path, class: 'btn btn-info' %>
    <%= link_to 'Delete', @message, method: :delete, data: { confirm: '本当に削除してよろしいですか？' }, class: 'btn btn-danger'%>
</div>